<section class="wrapper">
  <div class="video-wrap">
    <video src="" autoplay loop muted></video>
  </div>
  <div class="landing-text">
    <button type="button" class="btn btn-marisalt">¡click to know more about our product!</button>
  </div>
</section>
