<div class="footer">
  <div class="newsletter">
      <h4 for="mce-EMAIL">Subscribe</h4>
      <div id="mc_embed_signup">
        <form action="https://gmail.us20.list-manage.com/subscribe/post?u=1f4d1ae7a148ca0571329a570&amp;id=2c6833edd3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div class="form-group">
            <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
          </div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1f4d1ae7a148ca0571329a570_2c6833edd3" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn"></div>
        </form>
      </div>
  </div>

  <div class="contact">
    <h4>Contact</h4>
    <p>hello@marisalt.com</p>
    <div class="media-links">
      <a href="https://www.facebook.com/marisalseasalt" target="_blank"><i class="fab fa-facebook-f fa-3x"></i></a>
      <a href="https://www.instagram.com/marisal_seasalt/" target="_blank"><i class="fab fa-instagram fa-3x"></i></a>
    </div>
    <p class="privacy">©2019 por MAKA MÉXICO.<p>
  </div>
</div>
